<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">{{ _('OctoPrint URL') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.octofarmregistration.OctoPrintURL">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ _('OctoFarm HostName') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.octofarmregistration.OctoFarmHost">
		</div>

		<label class="control-label">{{ _('OctoFarm Port') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.octofarmregistration.OctoFarmPort">
		</div>
		
		<label class="control-label">{{ _('SSL Enabled') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settings.plugins.octofarmregistration.OctoFarmSSL">
		</div>	
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ _('OctoFarm Username') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.octofarmregistration.OctoFarmUser">
		</div>

		<label class="control-label">{{ _('OctoFarm Password') }}</label>
		<div class="controls">
			<input type="password" class="input-block-level" data-bind="value: settings.plugins.octofarmregistration.OctoFarmPass">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ _('OctoFarm Group') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.octofarmregistration.OctoFarmGroup">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ _('OctoFarm ID') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.octofarmregistration.OctoFarmID" disabled>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ _('Run at Startup') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settings.plugins.octofarmregistration.OctoFarmRunAtStartup">
		</div>	
	</div>
	
	<div class="control-group">
		<label class="control-label">{{ _('Run after Saving Settings') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settings.plugins.octofarmregistration.OctoFarmRunAtSettingsSave">
		</div>	
	</div>

	<div class="control-group">
		<div class="control-group" data-bind="visible: !restartRequired()">
			<button class="btn btn-primary" data-bind="click: function() { registerNow() }, css: {disabled: registerInProgress()}, disable: registerInProgress()">Register Now</button>
			&nbsp;&nbsp;<i class="fa fa-spinner fa-spin" data-bind="enabled:!registerInProgress(), css: {disabled: registerInProgress()}, visible: registerInProgress()"></i>
		</div>
		<div class="control-group" data-bind="visible: restartRequired()">
			<div>	
				<span class="help-block">
					<small>
						CORS was not enabled when OctoPrint started.<br>
						Please Restart OctoPrint!<br>
					</small>
				</span>
		</div>
			<button class="btn btn-danger" data-bind="click: function() { restartNow() }">Restart Now</button>
		</div>
	</div>
</form>